<div class="container">
    <div class="jumbotron py-3">
        <p class="display-4 mb-0 text-center">Beverages</p>
    </div>

    <ul class="list-group mb-2">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let beverage of beverages;let i = index">

            <span class="lead">{{beverage}}</span>

            <button class="btn btn-link" (click)="deleteBeverage(i)">
                <i class="fas fa-times"></i>
            </button>
        </li>
    </ul>

    <form (ngSubmit)="addBeverage(beverageForm)" #beverageForm="ngForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="enter new beverage" name="newBev" #newBev="ngModel" [(ngModel)]="newBeverage" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary" [disabled]="beverageForm.invalid">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <p class="text-danger" *ngIf="newBev.dirty && newBev.invalid">
            <i class="fas fa-times-circle mr-2"></i>    
            New Beverage must have a value !
        </p>
    </form>


</div>